<?xml version="1.0" encoding="UTF-8"?>
<configmgr crlNameList="" domainName="" host="localhost" listenerPort="2414" queueManager="IB9QMGR" securityExit="" securityExitJar="" sslCipherSuite="NONE" sslDistinguishedNames="" sslKeyStore="" sslTrustStore="" svrconn="SYSTEM.BKR.CONFIG"/>